<div id="index_header">
    <span class="index_link" id="home">
    <%= link_to 'WHAT YOU SAY???', quips_path %>
    </span>
    <span class="index_link" id="addnew">
        <%= link_to '<span id="addnew_plus">+</span> Add a new quip', new_quip_path %> 
    </span>
    <span class="index_link" id="random">
        <%= link_to '<span id="random_O">O</span> Random quip', quip_path("random") %> 
    </span>
</div>
