<div id="index_header">
    <ul class="horizontal">
        <li class="index_link" id="home">
        <%= link_to 'WHAT YOU SAY???', quips_path %>
        </li>
        <li class="index_link" id="addnew">
          <%= link_to new_quip_path do %>
            <span id="addnew_plus">+</span> add quip 
          <% end %>
        </li>
        <li class="index_link" id="random">
          <%= link_to quip_path('random') do %>
            <span id="random_O">O</span> random
          <% end %>
        </li>
        <li id="search">
        <input id="search_box" tabindex=0 value="Search..." />
        <div id="results" style="display:none;" >
        </div>
        </li>
        <li>
        <%= link_to 'api info', '/quips/api_info' %>
        </li>
    </ul>
    <script>
        $('search_box').observe('click', function(e) {
            this.setStyle({color: "black"});
            this.value="";
            this.stopObserving('click');
        });
        create_autocomplete('search_box', 'results');
    </script>
</div>
