<div id="index_header">
    <span class="index_link" id="home">
    <%= link_to 'WHAT YOU SAY???', quips_path %>
    </span>
    <span class="index_link" id="addnew">
        <%= link_to '<span id="addnew_plus">+</span> add quip', new_quip_path %> 
    </span>
    <span class="index_link" id="random">
        <%= link_to '<span id="random_O">O</span> random', quip_path("random") %> 
    </span>
    <span id="search">
      <input id="search_box" tabindex=0 value="Search..." />
    <div id="results" style="display:none;" >
    </div>
    </span>
    <script>
        $('search_box').observe('click', function(e) {
            this.setStyle({color: "black"});
            this.value="";
            this.stopObserving('click');
        });
        create_autocomplete('search_box', 'results');
    </script>
</div>
