%div
  %h2 Quips API
  %ol
    %li
      = link_to 'Create', :controller => 'api_keys', :action => 'new'
      an API key
    %li
      Send a POST request with the following keys and information:
      %ul
        %li Post to: http://stillraging.net/resquip/quips
        %li apikey = (your API key)
        %li quip[date] = MM-DD-YY (optional)
        %li quip[quip] = (quip string here)
    %li ...
    %li Profit!
  You can test the string using curl, like so:
  %pre
    curl -d "apikey=(api key)&amp;quip[date]=2010-05-12&amp;quip[quip]=testing;" #{quips_url}
