Testing search box!!!
<span id="search">
  <input id="search_box" tabindex=0>
<div id="results" style="display:none;" >
</div>
</span>
<script>
    create_autocomplete('search_box', 'results');
</script>
<%= render "quips/index" %>

