- content_for :left_sidebar do
  #sort_options
    %a#sort_votes{:href => "quips?sort=votes"} Highest Rated
    %a#sort_newest{:href => "quips?sort=newest"} Newest
    %a#sort_oldest{:href => "quips?sort=oldest"} Oldest
#quip_list
  = render :partial => "quip", :collection => @quips
  = will_paginate @quips unless @quips.nil?
