#quip_list{'ng-app' => true}
  #sort_options
    = link_to 'Highest Rated', {:controller => :quips, :sort => :votes}, :remote => true, :id => 'sort_votes', :class => ('selected' if session[:sort] == 'votes')
    = link_to 'Newest', {:controller => :quips, :sort => :newest}, :remote => true, :id => 'sort_newest', :class => ('selected' if session[:sort] == 'newest' || session[:sort].blank?)
    = link_to 'Oldest', {:controller => :quips, :sort => :oldest}, :remote => true, :id => 'sort_oldest', :class => ('selected' if session[:sort] == 'oldest')
  #listing
    = render :partial => "quip", :collection => @quips
