.quip_display {
    font-family: monospace;
}
ul,ol,li {
    padding: 0;
    margin: 0;
}

ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display:inline;
}



#quips {
    width:60em;
    position:relative;
}

div.fieldWithErrors {
    display:inline;
}

form.new_quip textarea {
    font-family: sans-serif;
    color: grey;
}
form.new_quip #quip_submit {
    font-size:200%;
}

table,td {
    margin: 0px;
    padding: 0px;
}
h1,p {
    margin-top:3px;
    margin-bottom:3px;
}
div.quip {
    margin: 15px 2px;
}

#content {
    font-family: sans-serif;
    width: 73em;
    margin-left: auto;
    margin-right:auto;
}
#index_header {
    border-bottom: 3px solid #651023;
    padding-bottom: 0.5em;
    margin-bottom: 5px;
    margin-left: 8em;
}
.index_link {
    font-size: 16pt; 
    font-weight: bold;
    margin-right: 1em;
}
.index_link a {
    color: #AAA;
    text-decoration: none;
}
.index_link a:hover {
    background: none;
}

#home a {
    font-size: 125%;
    color: #444;
}

#addnew a:hover { color: #002200; }
#addnew_plus { color: #77CC77; }
#addnew a:hover #addnew_plus { color: #007711; } 

#random a:hover { color: #000022; }
#random_O { color: #7777CC; }
#random a:hover #random_O { color: #001177; }


#search {
  width: 10em;
  position: relative;
  float: right;
  top: 10px;
  margin-right: 20px;
}
#search_box {
  width: inherit;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid grey;
  background: image-url('searchIcon.gif') no-repeat 3px 1px;
  height: 16px;
  padding-left: 18px;
  outline: none;
  color: grey;
}
#results {
  border: 1px solid black;
  width: 28.4em;
  position: absolute;
  top: 17px;
  left: 0;
  padding: 0 3px 3px;
  background: white;
  z-index: 2;
}
#results .search_result {
  border-top: 1px solid grey;
  width: 28.2em;
  padding: 2px;
  background: white;
  overflow: hidden;
  font-family: monospace;
}
#results .search_result a b {
  font-weight: 120%;
  font-size: 120%;
}

#results .search_result.selected {
  background: #BDF;
}
#results .search_result a {
  width: 100%;
  display:block;
  font-size: 90%;
}

#quip_list {
  float:left;
  width:65em;
}

#left_sidebar {
    float:left;
    width: 8em;
  }
#main_content {
  float:right;
  width:65em;
}



#sort_options a {
    padding: 3px;
    display:block;
    margin-bottom: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#sort_options a:hover {
    background: #DDD;
}

#sort_options .selected_sort {
    background: grey;
    color: #FC8; 
}









