$linkColor: #A40;
$darkRed: #651023;
$linkColorHover: lighten($linkColor, 10%);
@import "bootstrap";

#index_header {
  li { line-height: 24px; }
  .brand {
    font-size: 24px;
    color: $gray;
    font-weight: bold;
  }
  border-bottom: 3px solid $darkRed;
}

ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display:inline-block;
}

#sort_options {
  position: fixed;
  text-align: right;
  width: 100px;
}

#listing {
  margin-left: 110px;
}

#addnew a:hover { color: #002200; }
#addnew_plus { color: #77CC77; }
#addnew a:hover #addnew_plus { color: #007711; } 

#random a:hover { color: #000022; }
#random_O { color: #7777CC; }
#random a:hover #random_O { color: #001177; }


#results {
  border: 1px solid black;
  width: 28.4em;
  position: absolute;
  top: 17px;
  left: 0;
  padding: 0 3px 3px;
  background: white;
  z-index: 2;
}
#results .search_result {
  border-top: 1px solid grey;
  width: 28.2em;
  padding: 2px;
  background: white;
  overflow: hidden;
  font-family: monospace;
}
#results .search_result a b {
  font-weight: 120%;
  font-size: 120%;
}

#results .search_result.selected {
  background: #BDF;
}
#results .search_result a {
  width: 100%;
  display:block;
  font-size: 90%;
}

#sort_options {
 a {
    padding: 3px;
    display:block;
    margin-bottom: 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    &:hover {
      background: #DDD;
    }
    &.selected {
      background: grey;
      color: #FC8; 
    }
  }
}

.ui-autocomplete {
  li.ui-menu-item {
    font-size: 10px;
    max-width: 400px;
    span.match {
      font-weight: bold;
    }
  }
}









